
body {
    font-family: 'Noto Sans', sans-serif;
    background-color:#2b134b;
    color:#00ff88 ;
}

.embrulho{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 16px;
    box-shadow: 0 4px 30px;
    color:#232323;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.30);
    border: 2px solid rgba(255, 255, 255, 0.34);
    flex-basis: 400px;
    height: 630px;
    padding: 20px 35px;
    color:#00ff88 ;
    text-align: center;
    margin-left: 600px;
    margin-right: 600px;
    margin-top: 120px;
    flex-wrap: wrap;
}

.tela{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 2px solid rgb(247, 243, 243);
    border-radius: 12px;
    box-shadow: 0 4px 10px;
    font-size: 27px;
    overflow: auto;
    padding: 10px;
    text-align: left;
    width: 300px;
}

.butao{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 2px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.01);
    color: #232323;
    flex-basis: 20%;
    font-family:inherit ;
    font-size: 24px;
    height: 60px;
}
.butao:last-child{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 2px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.01);
    color: #fff;
    background:#2b134b;;
}

.butao:last-child:hover{
    background-color: inherit;
    color: inherit;
}

.butao:hover{
    background-color: inherit;
}
.butao:active{
    background-color:#2b134b;
}

.assunto{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 2px solid rgb(247, 243, 243);
    border-radius: 12px;
    box-shadow: 0 4px 10px;
    overflow: auto;
    padding: 10px;
    text-align: left;
    width: 358px;
}