*{

    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.center{

    text-align: center;
    margin: 0 auto;

}

.container{

    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
   
}

header{
    padding: 8px 0;
    background-color:#2b134b;
    height: 90px;
}

.logo{

    float: left;
    
}

.logo h2{

    font-weight: bold;
    
    font-size: 40px;
    display: inline-block;
}

.logo a{

    
    text-decoration: none;
    color: #FFF3E2;
    
    
}

nav.menu-desktop{

    float: right;
}

nav.menu-desktop ul{

    position: relative;
    top: 8px;
    list-style: none;
}

nav.menu-desktop li{

    padding: 0;
    font-weight: bold;
    display: inline-block;
    font-size: 25px;
}

nav.menu-desktop a{

    text-decoration: none;
    color: #FFF3E2;
    padding: 20px 30px;
    bottom: -13px;
    position: relative;

}

nav.menu-desktop a:hover {

    background-color: #00ff88;
    transition: background .8s;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    padding: 3px 30px;
    
}

.banner{
    margin-top: 82px;
    position: relative;
    width: 100%;
    padding: 140px 0 400px 0;
    background: linear-gradient(#2b134b, #3A64B4, #5B2788, #219B77);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    
}

.banner > .container{

    position: relative;
    z-index: 2;
}

.banner h2{

    color: rgb(240, 248, 255);
    font-size: 40px;
    font-weight: normal;
}

.banner p{
    color: rgb(231, 217, 216);
    text-align: justify;
    font-size: 17px;
    margin-top: 15px;
    background-color: black;
    border-radius: 30%;
}

footer.rodape{
    position: relative;
    top: 1043px;
    width: 100%;
    height: 127px;
    background-color: rgb(0, 0, 0);
    color: rgb(240, 248, 255);
    font-size: 10px;
    padding: 10px;
}

.principal{
    background-color: #fccc833b;

    padding: 550px 0;
    
    
}

.imglogo
{
    width: 90px;
}

.Rs
{
width: 80px;

padding: 20px 20px;

/* onde deixar na tela */
position: relative;
bottom:  15px;
right: 555px;

/* ficar em cima */
overflow: hidden;
}

.Copy
{
    justify-content: center;
    position: relative;
    top: 48px;
    
}

.iconRdp
{
    width: 91px;
    justify-content: center;
    position: relative;
    bottom: 17px;
    left: 472px;
}

.hist   
{
    font-size: 30px;
    position: relative;
    top: 180px;
    right: 0px;
}

.mainHistoria
{
    background: linear-gradient(#2b134b, #5F75D2,#5F75D2, #93A2E0, #93A2E0, #93A2E0);
    position: relative;
    height: 2106px;
}

.exploreH1
{
    padding-bottom: 65px;
    padding-left: 250px;
    color: #93A2E0;
    font-size: 100px;
}

.exploreH3
{
    color: black;
    padding-left: 0px;
    font-size: 40px;
}

footer.rodape_historia{
    position: relative;
    top: 1043px;
    width: 100%;
    height: 127px;
    background-color: rgb(0, 0, 0);
    color: rgb(240, 248, 255);
    font-size: 10px;
    padding: 10px;
}

























/* CARROSEL */

.content {
    position: relative;
}


.carousel-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 50;
}

.carousel-heading {
    font-size: 3rem;
    color: #000000;
    margin-bottom: 1rem;
}

.slideshow {
    height: 100%;
    overflow: hidden;
    position: relative;
}


.slideshow-wrapper {
    display: flex;
    width: 400%;
    height: 100%;
    position: relative;

    animation: slideshow 20s infinite;
}

.slide {
    width: 100%;
    height: 100%;
}

.slide-img {
    width: 1150px;
    height: 614px;
    object-fit: cover;
}

@keyframes slideshow {
    0% {
        left: 0;
    }

    10% {
        left: 0;
    }

    15% {
        left: -100%;
    }

    25% {
        left: -100%;
    }

    30% {
        left: -200%;
    }

    40% {
        left: -200%;
    }

    45% {
        left: -300%;
    }

    55% {
        left: -300%;
    }

    60% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -100%;
    }

    85% {
        left: -100%;
    }

    90% {
        left: 0%;
    }
}

.slide-btn {
    background-color: #bbb;
    border-radius: 50%;
    border: .2rem solid #d38800;
    width: 1.2rem;
    height: 1.2rem;
    outline: none;
    cursor: pointer;

    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 70;
}

.slide-btn-1 {
    left: 45%;
}

.slide-btn-2 {
    left: 50%;
}

.slide-btn-3 {
    left: 55%;
}

.slide-btn-4 {
    left: 60%;
}

.slide-btn-1:focus~.slideshow-wrapper {
    animation: none;
    left: 0;
}

.slide-btn-2:focus~.slideshow-wrapper {
    animation: none;
    left: -100%;
}

.slide-btn-3:focus~.slideshow-wrapper {
    animation: none;
    left: -200%;
}

.slide-btn-4:focus~.slideshow-wrapper {
    animation: none;
    left: -300%;
}

.slide-btn:focus {
    background-color: #308d46;
}

h3{
    color: #ffffff;
}



